<%- include('./partials/header') %>
    <div class="container pt-5">
      <h1 class="pt-5">About Us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut earum architecto ab beatae tenetur explicabo harum eaque, officiis adipisci porro. Quas cum quidem alias ullam. Veniam tempora mollitia magnam aspernatur.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus esse iusto incidunt dolor, et doloribus, expedita, eaque, reiciendis quae est obcaecati excepturi animi. Ab omnis excepturi, vero alias placeat numquam?</p>
    </div>
<%- include('./partials/footer') %>