<%- include('./partials/header') %>
    <div class="container pt-5">
      <h1 class="pt-5">About Us</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut earum architecto ab beatae tenetur explicabo harum eaque, officiis adipisci porro. Quas cum quidem alias ullam. Veniam tempora mollitia magnam aspernatur.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus esse iusto incidunt dolor, et doloribus, expedita, eaque, reiciendis quae est obcaecati excepturi animi. Ab omnis excepturi, vero alias placeat numquam?</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>